* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
}

.container-text {
  display: flex;
  flex-wrap: wrap;
  gap: 1.25rem;
  margin: 1.25rem;
}

.texto {
  border: 2px solid #000;
  font-size: 1rem;
  box-sizing: border-box; /* Todo */
  text-align: justify;
  border-radius: 0.450rem;
  /* overflow: hidden; */
}

@media screen and (max-width: 596px) {
  .texto {
    width:calc(50% - 1rem)
  }
  
}