header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  background-color: #222;
  position: relative;
  z-index: 5;
}

.logo {
  max-width: 3rem;
  width: 40px;
  height: 40px;
}

.nav-list {
  list-style-type: none;
  display: flex;
  gap: 1rem;
}

.nav-list li a {
 text-decoration: none;
 color: #faf8f8;
}

.abrir-menu,
.cerrar-menu {
  display: none;
  background: none;
  border: none;
  cursor: pointer;

}

@media screen and (max-width: 596px) {
  nav {
    opacity: 0;
  }
}